<h2>Dúvidas</h2>
<div class="forms-container">
    <div class="form">
        <p class="form-text">Por favor complete o formulário abaixo para nos mandar um email e iremos retornar assim que possível</p>

        <form>
            <input type="text" placeholder="Nome*" required>

            <input type="email" name="email" id="email" placeholder="Email*" required>

            <textarea name="message" rows="5" id="message" placeholder="Mensagem*"></textarea>

            <button class="btn-forms" type="submit">Enviar mensagem</button>
        </form>
    </div>
    <div class="contact-info">
        <h3>Informações de contato</h3>

        <div class="info">
            <h4>Endereço</h4>
            <span>Rua em um lugar por ai, 173, brochoviks</span>
            <p>Maringá, PR</p>
        </div>

        <div class="info">
            <h4>Telefone</h4>
            <span>+55 (44) 9999-9999</span>
        </div>

        <div class="info">
            <h4>Email</h4>
            <span>contatoemail&#64;gmail.com</span>
        </div>

        <div class="info">
            <div class="img-icons">
                <img class="icon-info" src="../../../assets/img/icons/gitIMG.svg" alt="">
                <img class="icon-info" src="../../../assets/img/icons/instagramIMG.svg"  alt="">
                <img class="icon-info" src="../../../assets/img/icons/discordIMG.svg"  alt="">  
            </div>
        </div>
    </div>
</div>