<h2 mat-dialog-title>Confirmar Exclusão</h2>
<div mat-dialog-content>
  <p>Tem certeza de que deseja excluir este item?</p>
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()" class="forms-delete">
    <mat-form-field class="forms-input">
      <textarea matInput formControlName="reason" rows="5" placeholder="Motivo da Exclusão"></textarea>
      <mat-error *ngIf="deleteForm.get('reason')?.invalid && deleteForm.get('reason')?.touched">
        O motivo é obrigatório.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [disabled]="deleteForm.invalid" (click)="onSubmit()">Excluir</button>
</div>
