<div class="cards">
    <div class="card">
        <div class="card-content">
          <div class="text-card">
            <p class="card-amount">50</p>
            <p class="card-desc">Produtos <br> cadastrados</p>
          </div>
          <mat-icon class="icon">shopping_bag</mat-icon>
        </div>
        <div class="link-card">
          <a href="#">Ver mais <mat-icon>arrow_circle_right</mat-icon></a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
          <div class="text-card">
            <p class="card-amount">23</p>
            <p class="card-desc">Clientes <br> cadastrados</p>
          </div>
          <mat-icon class="icon">person</mat-icon>
        </div>
        <div class="link-card">
          <a href="#">Ver mais <mat-icon>arrow_circle_right</mat-icon></a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
          <div class="text-card">
            <p class="card-amount">0</p>
            <p class="card-desc">Notas <br> emitidas</p>
          </div>
          <mat-icon class="icon">receipt</mat-icon>
        </div>
        <div class="link-card">
          <a href="#">Ver mais <mat-icon>arrow_circle_right</mat-icon></a>
        </div>
    </div>
</div>

<div class="todo-container">
  <h2>Tarefas</h2>
  <div class="input-content">
    <input [(ngModel)]="newTask" type="text" placeholder="Digite sua tarefa">
    <button (click)="addTask()">Adicionar</button>
  </div>
  
  <ul class="list-todo">
    <li class="list-item" *ngFor="let task of tasks">
      <div class="checkbox-wrapper">
        <input type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task)" [id]="'task-' + task.id">
        <label [for]="'task-' + task.id" [ngClass]="{'completed': task.completed}">{{ task.name }}</label>
      </div>
      <div class="btn-todo">
        <button class="btn-edit" (click)="editTask(task)">
          <mat-icon class="icon-btn">edit</mat-icon>
        </button>
        <button class="btn-delete" (click)="deleteTask(task)">
          <mat-icon class="icon-btn">delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>

<app-forms-contact/>