<div class="cards">
    <div class="card">
        <div class="card-content">
          <div class="text-card">
            <p class="card-amount">50</p>
            <p class="card-desc">Produtos <br> cadastrados</p>
          </div>
          <mat-icon class="icon">shopping_bag</mat-icon>
        </div>
        <div class="link-card">
          <a href="#">Ver mais <mat-icon>arrow_circle_right</mat-icon></a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
          <div class="text-card">
            <p class="card-amount">23</p>
            <p class="card-desc">Clientes <br> cadastrados</p>
          </div>
          <mat-icon class="icon">person</mat-icon>
        </div>
        <div class="link-card">
          <a href="#">Ver mais <mat-icon>arrow_circle_right</mat-icon></a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
          <div class="text-card">
            <p class="card-amount">0</p>
            <p class="card-desc">Notas <br> emitidas</p>
          </div>
          <mat-icon class="icon">receipt</mat-icon>
        </div>
        <div class="link-card">
          <a href="#">Ver mais <mat-icon>arrow_circle_right</mat-icon></a>
        </div>
    </div>
</div>