<div class="title-container">
    <h1>Clientes</h1>
    <mat-icon class="title-icon">groups</mat-icon>
  </div>
  
  <div class="btn-actions">
    <button class="btn-choose" (click)="switchTab('juridico')" [class.disabled]="selectedTab !== 'juridico'">Clientes Jurídicos</button>
    <button class="btn-choose" (click)="switchTab('fisico')" [class.disabled]="selectedTab !== 'fisico'">Clientes Físicos</button>
  </div>
  
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ selectedTab === 'juridico' ? 'Razão Social' : 'Nome' }}</th>
          <th>{{ selectedTab === 'juridico' ? 'CNPJ' : 'CPF' }}</th>
          <th>UF / Cidade</th>
          <th>Contato</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of filteredDataSource">
          <td>{{cliente.id}}</td>
          <td>{{getClienteNomeRazaoSocial(cliente)}}</td>
          <td>{{getClienteCpfCnpj(cliente)}}</td>
          <td>{{cliente.ufCidade}}</td>
          <td>{{cliente.number}}</td>
        </tr>
      </tbody>
    </table>
  
    <button class="add-client" (click)="openAddClientDialog()">+ Adicionar Empresa</button>
  </div>
  