$dark-blue: #001833;
$color-main: #003366;
$light-blue: #004999;
$background-color: #eeeeee;
$white-text: #ffffff;
$black-text: #111111;
$btn-color: #007BFF;
$hover: #31B2F2;

$card-color1: #FF5B5B;
$card-color2: #f7e439;
$card-color3: #31F244;