<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">M</button>
        <div class="logo-text" *ngIf="collapsed">MetricHive</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidebar()">&times;</button>
    </div>
    <div class="line"></div>
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item" *ngFor="let item of navData">
            <a class="sidebar-nav-link" [routerLink]="item.routeLink" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }">
                <img class="sidebar-link-icon" [src]="item.icon" [alt]="item.label + ' icon'">
                <span class="sidebar-link-text" *ngIf="collapsed">{{ item.label }}</span>
            </a>
        </li>
    </ul>
    <div class="line"></div>
    <div class="sidebar-footer">
        <span class="sidebar-footer-text">Ver 1.2.31.0</span>
    </div>
</div>


