@import "../../../../styles/variables.scss";

:host {
    display: block;
    padding: 20px;

    .modal-title {
        font-size: 1.6rem;
    
        &:after {
          display: block;
          content: "";
          width: 10%;
          height: 2px;
          background-color: $color-main;
        }
    }

    .input-group {
        padding-top: 30px;
        user-select: none;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        .input-query {
          display: flex;
          flex-direction: column;
          
          label {
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 5px;
          }

          .input,
          select {
            background-color: #eeeeee;
            border: none;
            font-size: 1rem;
            padding: 12px 24px;
            border-radius: 10px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            appearance: none;
            -webkit-appearance: none;

            &:hover {
              background-color: #ddd;
            }

            &:focus {
              outline: none;
              background-color: #ddd;
              box-shadow: 0 0 2px 2px #00000075;
            }
          }
        }
    }

    .modal-actions {
      display: flex;
      justify-content: space-between;

      .btn-action {
        padding: 12px 30px;
        margin-top: 30px;
        font-size: 1rem;
        font-weight: 600;

        &.delete {
          background-color: #f53c3c;
          border-radius: 10px;
          color: $white-text;
          transition: .3s;

          &:hover {
            background-color: #fd7575;
          }
        }
      }

      div {
        display: flex;
        gap: 15px;

        .btn-action {
          &::after {
            content: '';
            width: 0%;
            height: 2px;
            transition: .3s ease-in-out;
            display: block;
            background-color: $black-text;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
}