<h2 class="modal-title">Editar cliente</h2>
<div class="container">
  <div class="input-group">
    <div class="inputs-query">
      <input type="text" class="input" placeholder="Razão Social" [(ngModel)]="data.razaoSocial" *ngIf="data.type === 'juridico'">
      <input type="text" class="input" placeholder="Nome" [(ngModel)]="data.nome" *ngIf="data.type === 'fisico'">
      <input type="text" class="input" placeholder="CEP" [(ngModel)]="data.cep" *ngIf="data.type === 'juridico'">
      <input type="number" class="input" placeholder="CPF" [(ngModel)]="data.cpf" *ngIf="data.type === 'fisico'">
      <input type="text" class="input" placeholder="Contato" [(ngModel)]="data.contato">
      <input type="text" class="input" placeholder="Nome Fantasia" [(ngModel)]="data.nomeFantasia" *ngIf="data.type === 'juridico'">
      
      <select [(ngModel)]="selectedState" (ngModelChange)="onStateChange($event)">
        <option value="" disabled>UF</option>
        <option *ngFor="let state of estados" [value]="state">{{state}}</option>
      </select>
      
      <select [(ngModel)]="data.cidade">
        <option value="" selected>Cidade</option>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>
      
      <input type="text" class="input" placeholder="Logradouro" [(ngModel)]="data.logradouro">
      <input type="text" class="input" placeholder="Bairro" [(ngModel)]="data.bairro" *ngIf="data.type === 'fisico'">
      <input type="text" class="input" placeholder="Complemento" [(ngModel)]="data.complemento">
      <input type="number" class="input" placeholder="Inscrição Estadual" [(ngModel)]="data.inscricaoEstadual" *ngIf="data.type === 'juridico'">
    </div>
  </div>
</div>

<div class="modal-actions">
  <button class="btn-action" (click)="onNoClick()">Cancelar</button>
  <button class="btn-action" (click)="delete()">Excluir</button>
  <button class="btn-action" (click)="save()">Salvar</button>
</div>
